{% extends "layout.html" %}

{% block title %}
    Portfolio of stocks
{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">operation</th>
        <th scope="col">number of shares</th>
        <th scope="col">price/share</th>
        <th scope="col">date</th>

      </tr>
    </thead>
    <tbody>
      {% for row in list %}
          <tr>
            <td>{{row.symbol_company}}</td>
            <td>{{row.operation}}</td>
            <td>{{row.number_shares}}</td>
            <td>{{"$%.2f"|format(row.price_share)}}</td>
            <td>{{row.date}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}